{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'post/css/blog-post.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    <h1 class="">
        {{ post.title }}

    </h1>
    <div class="post-meta">
        <div class="post-date">
            Опубликовано {{ post.published_at|date:"M, d Y" }}
        </div>
        <div class="post-pageviews"></div>
        <div class="post-tags"></div>
    </div>

    <p>{{ post.body|safe }}</p>

{% endblock %}