#layout {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    #sidebar {
        flex: 1 1 15%;
        display: block;
        padding: 2rem;
        background-color: #48687F;
        .sidebar-info {
            h1 {
                font-family: 'Sedgwick Ave Display', cursive;
            }
        }
        .sidebar-logos {
            visibility: hidden;
            &-logo {
                max-width: 49%;
                display: inline-block;
                text-align: center;
                border: none;
                img {
                    display: inline-block;
                    margin: .5em auto 0 auto;
                    border: none;
                    max-height: 75px;
                    max-width: 180px;
                }
            }
        }
    }
    #content {
        display: block;
        flex: 1 1 85%;
        overflow: auto;
    }
    @media (max-width: 992px) {
        .sidebar-logos {
            display: none;
        }
        flex-flow: column nowrap;
        #content {
            flex: 1 0 auto;
        }
        #sidebar {
            flex: 1 1 5%;
        }
    }
}

.post-link,
.sidebar-info a {
    &,
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        color: inherit;
    }
}

.post {
    color: #222;
    &-meta {
        color: fade-out(black, .4);
        &>span {
            margin-right: 1rem;
        }
        &-views>i {
            margin-right: .5rem;
        }
    }
}

.page-index {
    padding: 2rem;
    @media (max-width: 992px) {
        padding: 0;
    }
    .post {
        background-color: white;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 1rem;
        display: flex;
        flex-flow: row nowrap;
        @media (max-width: 992px) {
            flex-flow: column nowrap;
        }
        &-image {
            flex: 1 1 40%;
        }
        &-info {
            flex: 1 1 60%;
            padding: 1rem;
        }
        &-excerpt {
            // color: fade-out(black, .4);
        }
    }
}

.page-post {

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 3rem 0 1rem;
    }

    .post {
        display: block;
        margin-bottom: 0;
        margin-top: 4rem;
        &-image {
            display: block;
        }
        &-info,
        &-text {
            display: block;
            width: 80%;
            margin: auto;
            @media (max-width: 992px) {
                padding-left: 1rem;
                padding-right: 1rem;
                width: auto;
            }

            pre > code {
                font-size: 1rem;
            }
        }
        &-text {
            font-size: 1.3125rem;
            padding-top: 2rem;
            @media (max-width: 992px) {
                font-size: 1rem;
            }
        }
        &-tags {
            margin-bottom: 1rem;
            &-tag {
                font-size: .75rem;
                padding: 0.5rem 1rem;
                background: $background-dark;
                margin-right: 1rem;
                border-radius: 1rem;
            }
        }
        &-comments {
            width: 100%;
            padding: 1rem;
            @media (max-width: 992px) {
                font-size: 1rem;
            }
        }
    }
}

code {
    color: #222;
    font-size: 110%;
    background-color: rgba(0,0,0, .05);
}

pre[class*="language-"] {
    background-color: rgba(0,0,0, .05);
}

code[class*="language-"], pre[class*="language-"] {
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}