// Global styling for this template
body,
html {
  width: 100%;
  height: 100%;
  @include sans-serif-font();
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


hr {
  max-width: 50px;
  border-width: 3px;
  border-color: $theme-primary;
}

hr.light {
  border-color: white;
}

hr.dark {
  border-color: $gray-darker;
}

a {
  color: $theme-primary;
  @include transition-all;
  &:focus,
  &:hover {
    color: darken($theme-primary, .1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include serif-font();
  margin: 3rem 0 1rem;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.bg-primary {
  background-color: $theme-primary !important;
}

.bg-dark {
  color: #222;
  background-color: $background-dark !important;
}

.bg-light {
  color: #222;
  background-color: $background-light !important;
}

.text-faded {
  color: fade-out(white, .3);
}

.section-heading {
  margin-top: 0;
  text-transform: uppercase;
}

.section-paragraph {
  padding-left: 2rem;
}

::-moz-selection {
  color: white;
  background: $gray-darker;
  text-shadow: none;
}

::selection {
  color: white;
  background: $gray-darker;
  text-shadow: none;
}

img::selection {
  color: white;
  background: transparent;
}

img::-moz-selection {
  color: white;
  background: transparent;
}

body {
  -webkit-tap-highlight-color: $gray-darker;
}

.overlay {
  @include coverer;
  background: rgba(black, 0.5);
  z-index: 1000;
}

.footer-top {
  height: 4rem;
  width: 100%;
  background-color: #a7a7a7;
}

.footer-bot {
  height: 2rem;
  width: 100%;
  background-color: #747474;
}
