{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">
    <meta name="google-site-verification" content="ABWi-hNfrwHnhoisDBRZVbuASJ-TeFqaYZ-clZVzBqw" />

    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"> {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'vendor/linearicons-free/style.css' %}" rel="stylesheet" type="text/css">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
    <!-- Plugin CSS -->
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet" />
    <link href="{% static 'vendor/prismjs/prism.css' %}" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet"> {% endblock %}

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106501805-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments)
        };
        gtag('js', new Date());

        gtag('config', 'UA-106501805-1');
    </script>
</head>

<body id="page-top">

    <div id="layout">
        <div id="sidebar">
            <div class="sidebar-info">
                <div class="text-center">
                    <a href="/">
                        <img src="{% static 'img/avatar.jpg' %}" class="rounded" style="max-width: 12rem; margin:  2rem 0;"
                            alt="Maksim's face">
                        <h1>Maxim Manylov</h1>
                    </a>
                    <div>
                        <a 
                            target="_blank" 
                            href="https://github.com/mmanylov">
                            <img 
                                class="github-logo" 
                                src="/static/img/GitHub_Logo_White.png"
                                alt="">
                        </a>
                    </div>
                    <div>
                        <a 
                            target="_blank" 
                            href="http://codeforces.com/profile/maksman">
                            <img 
                                class="codeforces-logo" 
                                src="/static/img/codeforces-logo-with-telegram.png"
                                alt="Codeforces account">
                        </a>
                    </div>
                        <a href="http://codeforces.com/profile/maksman" alt="codeforces account">Codeforces account</a>
                    </div>
                </div>
            </div>
            <div id="main" class="bg-dark">
                {% block content %} {% block pager %}{% endblock %} {% endblock %}
            </div>

        </div>

        {% block javascript %}
        <!-- Bootstrap core JavaScript -->
        <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
        <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Plugin JavaScript -->
        <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
        <script src="{% static 'vendor/scrollreveal/scrollreveal.min.js' %}"></script>
        <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'vendor/aos/aos.js' %}"></script>
        <script src="{% static 'vendor/prismjs/prism.js' %}"></script>
        <!-- Custom scripts for this template -->
        <script src="{% static 'js/main.min.js' %}"></script>

        {% endblock %}
</body>

</html>